.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    
}
.contact {
    /* margin-top: 60px; */
    margin-bottom: 40px;
}
.content > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 32px;
    border-radius: 12px;
    background-color: var(--light-grey, #f00);
}
a {
    text-decoration: none;
    color: var(--txt-black, #282828);
}
p {
    color: var(--txt-grey, #8B8B8B);
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
}

iframe {
    padding-top: 32px;
    border-radius: 12px;
}