.btn {
    /* width: 218px;
    height: 58px; */
    height: 100%;
    padding: 10px 20px;
    /* margin-top: 40px; */
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    background-color: rgba(51, 153, 51, 1);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    z-index: 5;
    
}

.btn:hover {
    
    background: var(--black);

}
.btn:active {
    background: var(--white);
    color: var(--txt-black);
}