* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* :root{
    --green: #393;
    --light-grey: #F1F3F4;
    --white: #fff;
    --txt-black: #282828;
    --txt-grey: #8B8B8B;
    --txt-white: #fff;
    --grey-divider: #DDD;
    --black: #282828;
    
} */
:root {
	--green: #393;
	--white: #fff;
	--black: #282828;
	--grey-divider: #ddd;
	--grey: #8b8b8b;
	--light-grey: #f1f3f4;
	--txt-black: #282828;
	--txt-white: #fff;
	--txt-grey: #8b8b8b;
}
.app {
    position: relative;
}

/* vmesto wrapper */
/* ======================== */
.container {
    margin: 0 auto;
    max-width: 1440px;

}
.wrapper {

    padding-left: 40px;
    padding-right: 40px;
}
/* ========================= */
h2 {
    color: var(--txt-black, #282828); 
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 70.4px */
    margin-block: 40px;
}
h3 {
    color: var(--txt-black, #282828);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 44px */
}
h4 {
    
}
.cardsList {
    position: relative;
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 32px;
}
.addProductToCartDiv{    
    position: fixed;
    bottom: 32px;
    right: 32px;
    opacity: 0;
    transition: all .3s ease-in;
}
.show {
    opacity: 1;
  
}