
.check_Box {
    position: relative;
    accent-color: #393;
    width: 36px;
    aspect-ratio: 1;
}
.sortAllContainer{
    gap: 40px;
    display: flex;   
 
    margin-left: 40px;
 
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    height: 36px;

}
.sorted_filter { 

}
.price_filter input{
    max-width: 112px;
    height: 100%;    
    margin-left: 16px;
    border-radius: 6px;
    
}
.discount_filter{
    display: flex;
    align-items: center;
   }
.discount_filter input{ 
  
    
  }
 
 
  .check_Box_Span{
    margin-left: 16px;
    display: block;
    width: 36px;
    height: 36px;
    border: 1px solid gray;
    border-radius: 6px;
  }
  [type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size:23px;
    color:green;
  }
.select_drop_down{
    border-radius: 6px;
    height: 36px;
    margin-left: 16px;
}
 .sortAllContainer input::placeholder{
    font-size: 16px;
    text-indent: 8px;
 }
 .select_drop_down{
    font-size: 16px;
    text-indent: 8px;
    background-color: white;
 }

 /* ==================================================== */
 .check_Box{
    width: 36px;
    height: 36px;
  }
  
  .check_Box {
    margin-left: 12px;
    accent-color: rgb(53, 168, 53);
  }
  
  
  .sortAllContainer {

   gap: 40px;
   display: flex;   

   margin-left: 40px;

   font-size: 20px;
   font-weight: 600;
   margin-bottom: 40px;
   height: 36px;

  }
  
  .sorted_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  .price_filter input {
    width: 112px;
    height: 36px;
    margin-left: 16px;
    border-radius: 6px;
  }
  
  .discount_filter {
    display: flex;
    align-items: center;

  }
  .labelCheck {
    display: flex;
    align-items: center;
  }
  
  .select_drop_down {
    border-radius: 6px;
    height: 36px;
    margin-left: 16px;
    font-size: 16px;
    text-indent: 8px;
    background-color: white;
  }
  
  .sortAllContainer input::placeholder {
    font-size: 16px;
    text-indent: 8px;
  }