:root{
    --green: #393;
    --light-grey: #F1F3F4;
    --white: #fff;
    --txt-black: #282828;
    --txt-grey: #8B8B8B;
    --txt-white: #fff;
    --grey-divider: #DDD;
    --black: #282828;
    
}


.header {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    align-items: center;
    height: 128px;
    color: var(--txt-black);
}
.logo {
    width: 70px;
    aspect-ratio: 1;
    cursor: pointer;
}
.nav {
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav  li {
    font-size: 20px;
    line-height: 130%;
}
.nav  li:hover {
    cursor: pointer;
    color: var( --green);

}
.cartArea {
    display: flex;
    align-items: center;
    gap: 20px;

}
.cart {
    cursor: pointer;
    position: relative;
    width: 48px;
    aspect-ratio: 1;
}
.countInCart {
    top: 7px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    width: 26px;
    font-size: 10px;
    aspect-ratio: 1;
    color: white;
    font-size: 12px;
    border-radius: 50%;

}

.burgerMenu {
    display: none;
}
/* @media (max-width: 1400px) {

} */

@media (max-width: 1000px) {

}

@media (max-width: 768px) {
    .header {
        padding: 0 20px;
        height: 110px;
    }
    .nav {
        gap: 20px;
    }

}

@media (max-width: 480px) {
    .header {
        height: 68px;
    }
    .logo img{
        width: 44px;
    }
    .navMenu {
        display: none;
    }
   
    .cart img {
        width: 32px;
        
    }
    .countInCart {
        width: 17px;
        font-size: 8px;
    }
}
@media (max-width: 360px) {

}

